footer {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 7rem;
  background-color: $veryLightGray;
  z-index: 10;

  &::before {
    @include pseudoSetup;
    background-image: url("../images/bg-pattern-footer-mobile.svg");
  }

  .top {
    margin: 2rem;
    padding: 4rem 0 2rem 0;
    border-bottom: 1px solid lightgray;
    text-align: center;

    .socialMedia {
      width: 12rem;
      margin: 1.5rem auto 0 auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .svg {
        @include hoverCLickSocialMedia;
      }
    }
  }

  @media screen and (min-width: 24rem) {
    &::before {
      background-image: url("../images/bg-pattern-footer-desktop.svg");
    }
  }

  @media screen and (min-width: 40rem) {
    padding-bottom: 3rem;

    .top {
      margin: 2rem 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialMedia {
        margin: unset;
      }
    }
  }

  @media screen and (min-width: 64rem) {
    .top {
      margin: 2rem 8rem;
    }
  }

  .bottom {
    nav {
      padding: 0 30%;

      li {
        margin-top: 1rem;
        list-style: none;
        text-align: center;

        h3 {
          margin: 3rem 0;
          font-size: 1rem;
          font-weight: 700;
          color: $darkGrayishViolet;
        }

        a {
          margin-top: 1rem;
          font-weight: 700;
          color: black;
          border-bottom: 1px solid transparent;
          @include hoverClickBottomLink;
        }
      }
    }

    @media screen and (min-width: 40rem) {
      margin: 0 4rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "company help" "contact others";

      nav {
        padding: 0;
      }

      nav h3,
      nav ul li {
        text-align: left;
      }

      .company {
        grid-area: company;
      }

      .help {
        grid-area: help;
      }

      .contact {
        grid-area: contact;
      }

      .others {
        grid-area: others;
      }
    }

    @media screen and (min-width: 64rem) {
      margin: 0 8rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: "company help contact others";
    }
  }
}
