

@mixin buttonStyle($color :$veryLightGray){

    color: $color;
    padding: 1rem;
    border: 1px solid $color;

    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 700;
padding: 1rem;

background-color: transparent;


}