@import "fonts";
@import "mixins";
@import "variables";

@import "header";
@import "1insurance";
@import "2different";
@import "3work";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font-family: 'DM Serif Display', serif; 4 heading
//     font-family: 'Karla', sans-serif; body 4 7

h1,
h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

p,
a,
h3,
button {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

a{
  text-decoration: none;
}

.openMenu{
  overflow: hidden;
}